<div class="mobolaji-inner-banner" style="background: url('{{ section.settings.image_bg | img_url:''  }}');">
  <div class="container-shell">
       <div class="row">
           <div class="col-md-12 col-xs-12 inner-banner-mid">
              <h2 class="inner-title">{{ section.settings.heading }}</h2>
           </div> 
       </div>
  </div>
</div>




{% schema %}
  {
    "name": "Mobolaji Inner Banner",
   "settings": [
            {
                "type":"image_picker",
                "id":"image_bg",
                "label":"Section Image"
            },
            {
                 "type":"text",
                 "id":"heading",
                 "label":"Page Title"s
            },
            {
                "type":"color",
                "id":"txt_color",
                "label":"Text Color"
            }
    ],
    "presets": [
          {
          "name": "Mobolaji Inner Banner",
          "category": "custom"
          }
     ]
  }
{% endschema %}